
    .footer{
        display: flex;
        justify-content: space-between;
        background-color: $grey-light-color;
        padding: 0rem 5rem;
        &-parts{

            &-a{
                max-width: 30%;
                ul{
                    display: flex;
                    li{
                        padding-right: 2rem;
                    }
                }
            }
            &-b{
                margin: 1rem 0rem;
                h3{
                    margin-bottom: 1rem;
                }
                li{
                    margin-bottom: 1rem;
                }
            }

            &-c{
                max-width: 30%;
                .form{
                    margin: 1rem 0rem;
                    display: flex;
                }
            }
        }
    }
