// color palet
$primary-color: #036977;
$secondary-color: #d9135a;
$third-color: #82b440;
$fourth-color: #f1b3cc;
$light-color: #fff;
$dark-color: #262626;
$grey-color: #e8e8e8;
$grey-light-color: #f8f8f8;
$bg-image: url("../img/background_model.jpg")
